/* Abel Mansilla Felipe */

body{
    margin: 0 auto;
    font-size: 15px;
    background-color: silver;
}

/*Header*/
header{
    background-color: blue;
}

/*H1*/
h1{
    margin: 0 auto;
    font-size: 2.5em;
    color: white;
    text-align: center;
}

nav{
    display: flex; 
    flex-wrap: wrap; /* El elemento se situa en la linea siguiente */
    background-color: cyan;
}

nav div{
    flex-grow: 1;
    display: flex;
}


nav a{
    text-decoration: none;
    color: rgb(13, 65, 13);
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 2% 0%;
    font-weight: bold;
}

nav a:hover{
    background-color:tomato ;
}

nav p{
    background-color: black;
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: left;
    font-style: italic;
    margin: 0;
    color: white;
}

/* main */
main{
    display:flex ;
    flex-direction: column; /* La direccion natural del flex cambia */
}

main div{
    width: 30%;
}

main div:first-child{
    align-self: flex-end; /*Posiciona el primer elemento al final del flex*/
}

main div:nth-child(2){
    align-self: center; /* Posiciona el segundo elemento al medio */
}
main div:nth-child(3){
    align-self: flex-start; /* Posiciona el tercer elemento al principìo*/
}

div img{
    width: 100%;
}