/* Abel Mansilla Felipe */

body{
    margin: 0 auto;
    font-size: 15px;
    background-color: silver;
}

/*Header*/
header{
    background-color: blue;
}

/*H1*/
h1{
    margin: 0 auto;
    font-size: 2.5em;
    color: white;
    text-align: center;
}

nav{
    display: flex; 
    flex-wrap: wrap; /* El elemento se situa en la linea siguiente */
    background-color: cyan;
}

nav div{
    flex-grow: 1;
    display: flex;
}


nav a{
    text-decoration: none;
    color: rgb(13, 65, 13);
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 2% 0%;
    font-weight: bold;
}

nav a:hover{
    background-color:tomato ;
}

/* main */
main{
    display: flex;
    flex-direction: row-reverse; /* Invierte el orden natural de los elementos que se encuentran en el flex */
    row-gap: 25px; /* produce un espacio del tamaño asignado a los items de la fila */
    padding-top: 20%;
}

main p{
    border: 2px solid salmon;
    background-color: aquamarine;
}

main div:first-child{
    flex-shrink: 2; /* Se utiliza para que la imagen ceda un poco de espacio */
}

main div:nth-child(2){
    align-self: center; /* La situo al centro para alinear las cajas del main */
}



div img{
    width: 100%;
}